<%- include("partials/header") %>

<h1>HOME</h1>

<p> <%=homeStartingContent%> </p>

<% posts.forEach(function(post){ %>
  <div class="posts"> 
  <h1><%=post.posTitle%></h1>
  <p><%=post.postBody%></p>
  </div>
<%});%>


<%- include("partials/footer") %>
